
#yellow{background: yellow;}
#blue{background: rgb(17, 113, 240);}
#green{background: rgb(0, 237, 0);}
#red{
	background:  darksalmon;
}

body{
margin:0;
overflow-x:hidden;
}
#tabla_principal td{

	border: solid black 2px;
	padding-bottom: auto;
	width: 100px;
}
#contenedor_tabla{
	position: static;

	background-image: url(https://th.bing.com/th/id/OIP.QCgnHCbaS-yDZxN2XQwxMQHaEK?pid=ImgDet&rs=1);
}
img{
	width: inherit;
}

.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}